@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Madimi One';
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height:100px;
    background:burlywood;
    box-shadow:2px 2px;
}

body{
    background: url("https://previews.123rf.com/images/pazhyna/pazhyna1610/pazhyna161000045/64061908-fast-food-seamless-pattern-in-hand-drawn-doodle-style-with-different-objects-on-fast-food-theme-all.jpg");
}

.name{
    margin-left:30px;
}

.s-btn{
    height: 40px;
    width:80px;
    margin-right: 30px;
}

.intro{
    margin-top:50px;
}

.des{
    display: flex;
    margin-top:100px;
    margin-left:300px;
    font-size:30px;
    height:500px;
    width:950px;
    background: #fff;
    opacity:0.9;
}

.search{
    height:40px;
    width:300px;
    margin-right:30px;
}

.info{
    display: block;
    align-items: center;
}

.card:hover{
    transition: 1s;
    transform:scale(1.03);
    cursor: pointer;
}

.card:hover{
    background:#FCDC2A;
}

.container{
    margin: 30px;
    height:450px;
    width:420px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    width: 90vw;
  }

  .f{
    font-size:30px;
  }

  .in{
    font-size:20px;
  }

  
  .card {
    background-color: white; /* Set card background to white */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  .info {
    padding: 10px;
  }
  
  /* Add any additional styling you need for the cards */
  